#carousel {
    margin: 100px auto;
    width: 400px;
    height: 260px;
    border: 2px solid black;
    overflow: hidden;
}

ul,li {
    padding: 0;
    margin: 0;
}

ul {
    width: 2000px;
}

li {
    display: block;
    list-style: none;
    float: left;
}

img {
    width: 400px;
}